.icon-font-size {
    font-size: 25px;
}

.user-info-row {
    margin-bottom: 20px;
    padding: 0 10px 10px 10px;
}

.user-info-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    padding: 10px;
    border-radius: 8px;
}

.achievement {
    font-size: 35px;
    color: darkgoldenrod;
    padding: 5px;
}

.achievement-big {
    font-size: 80px;
    color: darkgoldenrod;
    padding-top: 10px;
}

.user-info {
    justify-content: center;
    width: 100%;
}

.not-collapsed-user-info {
    justify-content: center;
    width: 100%;
}

.wall-info-col {
    justify-content: center;
    width: 48%;
    margin: 1%;
}

.single-post {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.post-reactions {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: #e5e5e5 1px solid;

}

.center-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .not-collapsed-user-info {
        display: none;
    }
}
