.icon-font-size {
    font-size: 25px;
}

.user-info-row {
    margin-bottom: 20px;
    padding: 10px;
}

.user-info-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    padding: 10px;
    border-radius: 8px;
}

.achievement {
    font-size: 35px;
    color: darkgoldenrod;
    padding: 5px;
}
